<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CastleApartments - Login</title>
    <link rel="stylesheet" href="{% static 'CSS/login_pretty.css' %}" />

</head>
<body>
  <header>
    <a href="{% url 'property-index' %}" class="site-title-link">
            <div>CastleApartments</div>
    </a>
  </header>

  <main>
    <h2>Log In</h2>
    <div class="login-box">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render the form fields (username, password) -->
        <button type="submit">LOG IN</button>

        <p class="signup-text">
          Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </p>
      </form>
    </div>
  </main>
</body>
</html>
