<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>CastleApartments</title>

    <link rel="stylesheet" href="{% static 'CSS/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/header_base.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/login_button.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/filter.css' %}">

</head>


<body>

    <header>
        <div>CastleApartments</div>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="profile-link">
                <img src="{% static 'image/profile_icon.png' %}"
                     alt="Profile Icon"
                     class="profile-icon">
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="login-link">
                <button class="login-button">Log In</button>
            </a>
        {% endif %}
    </header>


    <div class="search-box">
        <div class="form-row">

        <div class="form-group">
            <label>Postal Code</label>
            <input type="text" placeholder="Filter Postal Code...">
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" placeholder="Filter Street Name...">
        </div>

        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Type</label>
                <input type="text" placeholder="Filter Type...">
            </div>
        <div class="form-group">
            <label>Price range</label>
            <input type="text" placeholder="Filter Price range...">
         </div>
        </div>

        <div class="form-row">
            <div class="form-group" style="flex: 1;">
                <label>Ordered by</label>
                <input type="text" placeholder="Filter By Order...">
            </div>
        </div>

        <button class="search-button">SEARCH</button>
    </div>



    <div class="property-box">
        <h2 class="property-heading">RECENTLY ADDED PROPERTIES</h2>
        <div class="property-container">
            {% for property in properties %}
                <a href="{% url 'property-by-id' property.id %}" class="property-link">
                    <div class="property-item">
                        <div class="property-image-container">
                            <div class="property-image" style="background-image: url({{ property.image }})"></div>
                        </div>
                        <div class="property-info">
                            <h3>{{property.street_name}} {{property.house_num}}</h3>
                            <p>{{property.city}} {{property.postal_code}}</p>

                            <div class="price-size">
                                <div class="price">{{property.listing_price}}</div>
                                <div class="size">{{property.size}}</div>
                            </div>

                            <div class="details">
                                <span>{{property.bed}} Bedrooms</span>
                                <span>{{property.bathroom}} Bathroom</span>
                            </div>

                            <div class="built-year">Built {{property.built}}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

</body>
</html>